.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

@media screen and (max-width: 1023px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    padding: 20px 10px;
  }
  .container:not(#steps) {
    background-color: #ECCBD9;
  }
  .container#steps {
    background-color: white;
  }
  .row {
    width: 100%;
    margin: 0;
  }
  img {
  height: 130px;
  }
  #lezioni .row > .right, #lezioni .row > .left {
    width: 47%;
  }
  #lezioni .row > .right {
    float: right;
  }
  #lezioni .row > h1 {
    padding-bottom: 20px;
  }
  #steps .row > .left, #steps .row > .central, #steps .row > .right{
    width: 47%;
  }
  #steps .row > .central {
    float: right;
  }
  #steps .row > .right {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
  }
  #steps .row > h1 {
    padding-bottom: 20px;
  }
  #why .row > .first, #why .row > .second, #why .row > .third {
    margin-top: 0;
    padding-top: 20px;
  }
}

@media screen and (max-width: 419px) {
  /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;          SI RIPETE SOPRA
  }
  .container {
    padding: 20px 10px;
  } */
  .container:not(#steps) {
    background-color: #f2f2cd;
  }
  /* .container#steps {
    background-color: white;      SI RIPETE SOPRA
  } */
  /* .row {
    width: 100%;              SI RIPETE SOPRA
    margin: 0;
  } */

  /* #lezioni .row > h1 {
    padding-bottom: 20px;              SI RIPETE SOPRA
  } */
  #lezioni .row > .left, #lezioni .row > .right,
  #steps .row > .left, #steps .row > .central, #steps .row > .right {
    width: 100%;
  }
  #steps .row > :not(.right) {
    padding-bottom: 20px;
  }

  /* #why .row > .first, #why .row > .second, #why .row > .third {
    margin-top: 0;                                                   SI RIPETE SOPRA
    padding-top: 20px;
  } */
}
